
.row {
    margin-bottom: 15px;
}

.row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.fond-gris {background-color: #f2f2f2;}
.element-centre {margin: auto;}
.texte-centre {text-align: center;}
.titre {font-size: 20px;}
